<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good News, LA!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="title">Good News, LA!</div>
        <div class="top-right">
            <a href="{{ url_for('submit') }}" class="submit-button">Submit a Story</a>
        </div>
        <div class="top-left">
            <a href="{{ url_for('random_page') }}" class="random-button">Random</a>
        </div>
    </header>
    <main>
        <div class="grid">
            {% for neighborhood in neighborhoods %}
                <div class="tile">
                    <a href="{{ url_for('neighborhood', name=neighborhood) }}">{{ neighborhood }}</a>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
